@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Open+Sans:ital,wght@0,700;1,400&family=Roboto:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.tudo {
    max-width: 500px;
    width: 500px;
    padding-left: 80px;
    padding-top: 110px;
    background-color: #ccc;
    height: 88vh;
}

.left h1 {
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 150px;
}

.formulario {
    display: block;
    padding: 10px;
}

.formulario label {
    padding: auto;
    text-align: left;

}

.formulario input {
    border: 0.5px solid;
    height: 40px;
    width: 400px;
    text-align: center;
    border-radius: 5px;

}

.passwordRemember {
    padding-left: 198px;
    text-decoration: none;
}

.enviar {
    padding: 10px;
}

.enviar button {
    display: block;
    height: 40px;
    width: 400px;
    border-radius: 8px;
    padding-left: 10px;
    align-items: center;
    background-color: rgb(67, 139, 223);
}

.enviar img {
    width: 15px;
    padding: 0px;
    align-items: auto;
}

.nconta {
    padding-left: 10px;
    padding-top: 10px;
}

.nconta button {
    display: block;
    text-align: center;
    height: 40px;
    width: 400px;
    border-radius: 8px;
    background-color: bisque;
}

.nconta img{
    width: 15px;
    padding-right:3px ;
    align-items: center;
}

.divisor {
 display: block;
 margin-left: 800px;
}

.divisor img{
    width: px;
}