@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Open+Sans:ital,wght@0,700;1,400&family=Roboto:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* NAVEGACAO */

#navegacao {
    width: 100%;
    height: 80px;
    background-color: rgb(148, 118, 118);
}

#navegacao .nav-brand {
    display: block;
    float: left;
    padding: 5px;

}

#navegacao ul {
    float: left;
}

#navegacao ul li {
    display: inline-block;
}

#navegacao ul li a {
    display: block;
    padding: 31px 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: red;
    transition: 0.3s ease-out;
}

#navegacao ul li a:hover {
    background-color: #ccc;
    transition: 0.3s ease-in;
}

/* CONTEUDO */
main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0;
}

/* DESTAQUES */
#destaques article {
    width: 22%;
    display: inline-block;
    background-color: #ccc;
    margin: 0 1%;
}